@{
    ViewBag.Title = "About";
}
<h2>O nas</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium posuere metus ac blandit.
    Vestibulum nibh sapien, fringilla nec sapien at, tincidunt pellentesque erat. Vivamus congue
    lorem vel enim tempor, a eleifend purus molestie. Vivamus commodo, ex ac cursus suscipit, nunc
    mauris mattis urna, in condimentum lectus sem nec purus. Curabitur ut ligula non purus efficitur
    sollicitudin nec sit amet nibh. Praesent eleifend ex eget turpis euismod blandit. Aliquam luctus
    facilisis urna sed dignissim. Sed quis libero eu dui faucibus sodales feugiat id dui. Curabitur
    quis nunc eu sapien porttitor eleifend eget sed massa. Phasellus tempus vestibulum neque at
    pulvinar. Phasellus viverra nunc ipsum. Mauris eu lorem id lectus sollicitudin efficitur vestibulum
    in odio. Donec tincidunt eros at nisl egestas vehicula. Proin viverra accumsan lectus et tempor
    Sed pellentesque, nunc ac interdum lacinia, turpis nisi blandit metus, ac sodales libero enim sit
    amet est. In aliquet nulla justo, in mollis est egestas fringilla..
</p>
